%div{:style => 'padding: 10px;'}
	%p
		%a{:href => '/'} Go back to Home
	%div.new_ticket
		%form{:action => 'tickets', :method => 'post'}
			%input{:type => 'hidden', :name => 'requester-id', :value => @requester_id}
			%div.ticket
				%h1.header Create a Ticket
				%div.body
					%p.field
						%span.name
							Requester
						%br/
						%span.content
							= @user
					%p.field
						%span.name
							Subject
						%br/
						%span.input
							%input{:type => 'text', :name => 'subject', :size => '54', :value => ''}
					%p.field
						%span.name
							Status
						%span.select
							%select{:name => 'status-id'}
								%option{:value => '0'} New
								%option{:value => '1'} Open
								%option{:value => '2'} Pending
								%option{:value => '3'} Solved
				
						%span.name
							Type
						%span.select
							%select{:name => 'ticket-type-id'}
								%option{:value => '0'} -
								%option{:value => '1'} Question
								%option{:value => '2'} Incident
								%option{:value => '3'} Problem
								%option{:value => '4'} Task
				
						%span.name
							Priority
						%span.select
							%select{:name => 'priority-id'}
								%option{:value => '0'} -
								%option{:value => '1'} Low
								%option{:value => '2'} Normal
								%option{:value => '3'} High
								%option{:value => '4'} Urgent
					%p.field
						%span.name.required
							Description (required)
						%br/
						%span.textarea
							%textarea{:name => 'description', :cols => '40', :rows => '6'}
					%p.field
						%span.name
							Tags (separated by space)
						%br/
						%span.input
							%input{:type => 'text', :name => 'current-tags', :size => '54', :value => ''}
					%p.submit
						%input{:type => 'submit', :name => 'submit', :value => 'Create'}

	%br/
	%div.tickets
		%h2.header Tickets
		- @tickets.reverse.each do |ticket|
			%div.ticket
				%h3.header Ticket
				%div.body
					%p.field
						%span.name
							Subject
						%br/
						%span.content
							= ticket.subject
					%p.field
						%span.name
							Description
						%br/
						%span.content
							= ticket.description
					%p.field
						%span.name
							Status
						%br/
						%span.content
							= ticket.get_status
						%br/
						- if ticket.requester_id == session[:user].id
							%form{:id => "status_form_#{ticket.nice_id}", :method => 'post', :action => "/tickets/#{ticket.nice_id}/mark_as_solved"}
								%input{:type => 'hidden', :name => '_method', :value => 'put'}
								%a{:href => '#', :onclick => "document.getElementById('status_form_#{ticket.nice_id}').submit(); return false;"} Mark as Solved